--style=bsd
--indent=spaces
--indent-classes
--indent-namespaces
--indent-labels
--break-blocks
--pad-oper
--pad-header
--unpad-paren
--add-brackets
--add-one-line-brackets
--convert-tabs
--align-pointer=type
--align-reference=type
--mode=c
--verbose
--lineend=linux
--suffix=none
